<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="triangle" class="org.tamer1an.test1.Triangle" > 
		<constructor-arg index="0" value="Equilateral"/>
		<constructor-arg index="1" value="20" type="int"/>
		<!-- <constructor-arg value="20" type="java.lang.String"/> -->
	</bean>

</beans>