<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="basetriangle" class="org.tamer1an.test1.Triangle" > 
		 <property name="PointA" ref="pointA"></property>
	</bean>
	
	<bean id="triangle" class="org.tamer1an.test1.Triangle" parent="basetriangle"> 
		 <property name="PointB" ref="pointB"></property>
		 <property name="PointC" ref="pointC"></property>	
	</bean>
	
	<bean id="pointA" class="org.tamer1an.test1.Point" > 
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>		
	</bean>

	<bean id="pointB" class="org.tamer1an.test1.Point" > 
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>		
	</bean>

	<bean id="pointC" class="org.tamer1an.test1.Point" > 
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>		
	</bean>

</beans>